$navHeight: 50px;

.app-layout {
    width: 100%;
    height: 100%;

    &-navigation{
        width: 100%;
        display: flex;
        height: $navHeight;
        background-color: rgb(191, 191, 214);
        align-items: center;

        & > a {
            flex: 1;
            margin: 0 20px;
        }
    }

    &-content {
        background-color: azure;
        height: calc(100vh - 50px);
    }
}