$navHeight: 50px;

.app-layout {
    width: 100vw;
    height: 100vh;

    &-navigation{
        width: 100vw;
        display: flex;
        height: $navHeight;
        background-color:rgb(186, 215, 215);
        align-items: center;
       

        & > a {
            color: rgb(110, 0, 200);
            text-decoration: none;
            flex: 1;
            margin: 0 20px;
            text-align: center;
            font-size: medium;
            
            

            &:visited{
                color: rgb(10, 10, 11);
                
            }

            &.activeRoute{
                color:rgb(41, 144, 144);
            }

            &:hover{
                text-shadow: 0px 0px 2px rgb(81, 78, 78);
            }
        }
    }

    &-content {
        background-color: whitesmoke;
        height: calc(100% - $navHeight);
        overflow-y: auto;
    }
}