.saved{
   border: solid 1px gray;
    width: 80% 60% 20%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    
&-box{
  font-size: 20px;
  margin-left: 50px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  button{
    position: absolute;
    right: 70px;
    top: 70px;
    background-color: rgb(172, 164, 154);
    outline: 0;
    border-radius: 18%;
    width: 80px;
    text-align: center;
    width:100px;
    height: 40px
    
  }
}


  }