.under-construction{

    padding-top: 200px;
    text-align: center;

    &-heading{
        font-size: 48px;
        color: red;
        
    
    }

    &-body{
        font-size: 36px;
        color: orange;
    }

}
